html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: '', sans-serif;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}