a {
  text-decoration: none;
}
.header__navbar {
  /* để ra giữa */
  display: flex;
  justify-content: center;
}

.header__navbar-list {
  /* bỏ dấu chấm ul */
  list-style: none;
}
.header__navbar-logo {
  display: inline-block;
  margin: 0 3rem;
}
.header__navbar-item {
  display: inline-block;
  margin: 0 3rem;
}

.header__navbar-item-button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
}

.header__navbar-item-button:hover {
  color: #005baa;
  cursor: pointer;
}
.cart:hover {
  color: #f68b1f;
}
.cart {
  color: #f68b1f;
}

/* nut dropdown chỉnh ngôn ngữ */
.dropbtn {
  background-color: #eaeaea;
  color: black;
  padding: 7px 15px;
  border-radius: 30px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container__banner {
  display: flex;
  justify-content: center;
}

.container__banner1 {
  width: 100%;
}

.container__banner2 {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
/* ?????????????????????? */
.container__banner2-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #005baa;
  padding: 0 0 0 500px;
}

.container__banner2 a {
  margin: auto 7.5rem;
  font-size: 15px;
  margin: auto 200px;
  text-decoration: none;
}

/* Slideshow container */
.container__slideshow {
  /* gioi han 3 anh */
  max-width: 1000px;
  margin: auto;
}

.slideshow__items {
  display: flex;
  /* justify-content: space-between; */
  /* width: 100%; */
}

.slideshow__items-1 {
  width: 100%;
  height: 100%;
  /* de cach ra  */
  margin: auto 5px;
}

.slideshow__items-1 h1 {
  color: #005baa;
  line-height: 150%;
}
.slideshow__items-1 p {
  color: #979da3;
  font-size: 1.1rem;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #005baa;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.container__phone {
  height: 100%;
  background-image: linear-gradient(175deg, #0167be, #69caf4);
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container__phone-backgound {
  position: absolute;
  opacity: 0.2;
}

.container__phone-backgound1 {
  width: 100%;
}
/* chứa cái iphone */
.container1 {
  position: relative;
  max-width: 500px;
  margin-right: 0;
  padding-right: 0;
  z-index: 1;
}
#Iphone {
  position: relative;
  top: -60px;
}

/* chứa tiêu đề và 6 box */
.container2 {
  z-index: 1;
}
.container__phone-tittle {
  padding-top: 5rem;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.container__phone-item {
  width: 25rem;
  height: 25rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
  /* display: flex; */
}

.container__phone-box1 {
  display: flex;
  justify-content: center;
}

.phone__item-header {
  font-size: 2.5rem;
}

.phone__item-photo {
  height: 60px;
  width: 60px;
  margin: 5px;
}

.phone__box {
  display: flex;
}

.phone__item-header {
  font-weight: 700;
  margin: 15px;
  font-size: 18px;
  color: #05579e;
  line-height: 150%;
}

.phone__item-para {
  font-size: 15px;
  line-height: 28px;
  margin: auto 10px;
  color: #777777;
}

.container2__button {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.button-timhieu {
  background-color: #f68b1f;
  color: white;
  width: 590px;
  height: 50px;
  border-radius: 30px;
  border: #fff;
  border-style: solid;
  border-width: 2px;
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;
}

.hotline {
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
}

/* css phần advantage eBacsi */
.container__advantage {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  background-color: white;
  position: relative;
}
.container__advantage-header {
}
.container__advantage-tittle {
  font-size: 3rem;
  color: #05579e;
  font-weight: 500;
}
.container__advantage-tittle span {
  font-weight: 600;
}
.container__advantage-para {
  font-size: 1.6rem;
  color: #72787e;
  line-height: 130%;
}
.container__advantage-box {
  display: flex;
  justify-content: center;
  z-index: 3; 
}
.container__advantage-item {
  margin: 10px;
  margin-top: 20px;
  display: block;
  height: 300px;
  width: 350px;
}
.container__advantage-item-img {
}
.container__advantage-item-para {
  font-size: 1.6rem;
  color: #05579e;
  font-weight: 600;
  line-height: 130%;
  margin: 0;
  position: relative;
  top: -8%;
}

.container__advantage-item-uniqueOne {
  position: relative;
  top: 14px;
  right: 10px;
}

.container__advantage-item-uniqueOne .container__advantage-item-para {
  position: relative;
  top: 10px;
}

.container__thongke {
  margin-top: 10rem;
  background-image: url("../img/thongke_background.jpg");
  /* kéo ảnh bg full width vs div */
  background-size: 100% 100%;
}

.thongke_title {
  text-align: center;
  /* de cach 1 doan */
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 2rem;
  color: white;
}

.thongke_solieu {
  /* thu nhỏ chiều rộng div */
  width: 1200px;
  /* căn giữa div */
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.thongke_solieu_item_title1 {
  color: white;
  font-size: 7rem;
}

.thongke_solieu_item_title2 {
  color: white;
}

.container__video {
  background-image: url("../img/video_background.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.video_img{
  margin-right: 20px;
  border-radius: 20px;
}

.download {
  /* ? */
  line-height: 5rem;
}

.QR_code{
  border-radius: 20px;
  margin-top:1rem;

}

/* btn return top page */
#returnTopPage {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(12, 67, 245); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 10px; /* Increase font size */
  border-radius: 100%;
}

#returnTopPage:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.footer {
  background-color: #05579e;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  padding: 5% 0;
}

.footer__companyName {
  margin-right: 100px;
}

.footer__companyName-logo {
  margin-bottom: 10px;
}

.footer__companyName-name {
  color: white;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.footer__companyName-para {
  color: white;
  font-size: 14px;
}

.footer__container {
}
.footer__container-row1 {
  margin-bottom: 30px;
}
.footer__container-row1-item {
  color: white;
  margin-right: 30px;
  font-size: 14px;
}
.footer__container-row2 {
  color: white;
  display: flex;
}
.footer__container-policy h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.footer__container-policy-name {
  color: white;
  font-size: 14px;
}
.footer__container-row2-logo {
  color: white;
}
.footer__container-connection {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin-left: 40px;
  line-height: 150%;
}
.footer__container-connection-icon {
  color: white;
  margin-right: 10px;
}


@media only screen and (min-width:740px ) and (max-width:1023px){

}

/* dien thoai */
@media only screen and (max-width:739px){
  /* navbar mobile */
  .header__navbar {
    justify-content: unset;
  }
  .header__navbar-list {
    width: 100%;
    padding: 0; 
  }
  .header__navbar-logo {
    margin: 0 10px;
  }
  .header__navbar-logo-img {
    width: 70%;
  }
  .header__navbar-bars {
    font-size: 2.8rem;
    color: #005baa;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 54px;
  }
  .header__navbar-item {
    display: none;
  }


  /* san pham dich vu */
.container__banner2-title{
  font-size: 3rem;
  font-weight: bold;
  color: #005baa;
  padding:unset;
  text-align: center;
  line-height: 3.5rem;
  
}

/* xoa chu xem them */
.container__banner2 a{
  
  display:none;
}
/* xoa dien thoai */
.container__phone{
  display: block;  
  
}
/* khong bi chen */
.container__phone-box1{
  display: unset;

}
/* de lai 6 box theo hang doc */
.container1{
  display:none;
}
/* chinh title cham soc suc khoe toan dien */
.container__phone-tittle {
  
  line-height: 3rem;
  margin: 0 10px 60px 10px;
}

.container__phone-item {
  width: unset;
  height: 20rem;
  margin-bottom: 8rem;
 
}

.button-timhieu{
  display:none;
}
/* chinh title giup viec cham soc suc khoe */
.container__advantage-tittle {
  font-size: 4rem;
  color: #05579e;
  font-weight: 500;
  line-height: 5rem;
  margin:0 5%;
}

.container__advantage-para{
  display: none;
}
/* chinh lai 6 box */
.container__advantage-box {
  display:unset;
}

/* chinhr lai dat lich kham voi */
.thongke_title {
  font-size: 3rem;
  line-height: 4rem;
}
/* chinh nut quay lai dau trang */
#returnTopPage{
  left:0px;
  right:unset;
}

.thongke_solieu {
  width:unset;
  display:block;
}
/* chinh chieu cao cot so lieu */
.thongke_solieu{
  height: 50rem;
}

.thongke_solieu_item{
margin-bottom: 10rem;
}

/* chinh phan video */
.container__video {

  text-align: center;
  flex-direction: column; 
}

.video_img {
  width:100%;
}

.footer{
  display: none;
}
}